/*General*/
body{
    font-family: 'Raleway', sans-serif;
    font-size:14px;
    color:#7e7e7f;
    letter-spacing:.06rem;
}

header,
section{padding:100px 0;}
.bg-primary{background-color:#3f44c9!important;}
.text-gray{color:#7e7e7f!important;}
.badge-primary{background-color:#3f44c9!important;}
.text-primary{color:#3f44c9!important;}
.text-dark{color:#1a1a1a!important;}


h1, h2, h3, h4, h5, h6{font-family: 'Titillium Web', sans-serif;}

.lead{
    font-size:1.25rem;
    font-weight:300;
}

.btn{
    font-size:14px;
    max-width:160px;
    min-width:140px;
    padding:10px 30px;
}

.btn-primary{
    background-color:#3f44c9!important;
    border:1px solid #3f44c9!important;
}

/*Navbar*/
.navbar{min-height:80px;}

/*footer*/
.divider{
    background-color:#ddd;
    width:100%;
    height:2px;
}