body{font-family: 'Titillium Web', sans-serif;}
.testimonial{padding-top:60px;}

@media (max-width: 991.98px) { 
    header h1{
        font-size:2rem!important;

    }
    blockquote p{
        font-size:1.2rem!important;
    }
}
